@import "../../vars.scss";

.services {
  padding: $sectionPadding;
  &__wrapper {
    display: grid;
    gap: 20px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
