@import "../../vars.scss";

.home {
  padding: $sectionPadding;

  &__photo {
    max-width: 650px;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__title {
    max-width: 526px;
    color: #222;
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3.2px;
  }

  &__contacts {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  &__subtitle {
    color: #222;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  &__icons {
    display: flex;
    align-items: center;
  }
}

