.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

@media (max-width: 850px) {
  .container {
    max-width: 696px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 342px;
  }
}
